@tailwind base;
@tailwind components;
@tailwind utilities;


:root[data-mantine-color-scheme='dark'] {
    --mantine-color-body: var(--mantine-color-dark-8) ;
}

:root[data-mantine-color-scheme='light'] {
    --mantine-color-white: #fafafc ;
    --mantine-color-text: #09090b
}